$h1_size:60px;
$h2_size:40px;
$h4_size:22px;
$p_size:16px;
$span_size:16px;

$h1_size_small:28px;
$h2_size_small:24px;
$h4_size_small:18px;
$p_size_small:15px;
$span_size_small:15px;

$p_color:rgba(40, 40, 40, 0.6);
$span_color:#ff6d6d;